.signup-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login {
  background-color: rgb(40, 73, 181);
}

.signup-form-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.signup-form-container form div {
  margin-bottom: 15px;
  margin-top: 10px;
}

.signup-form-container form label {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
}

.signup-form-container form input[type="text"],
.signup-form-container form input[type="email"],
.signup-form-container form input[type="tel"],
.signup-form-container form select,
.signup-form-container form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form-container form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form-container form button:hover {
  background-color: #0056b3;
}

.signup-form-container p {
  margin-bottom: 10px;
}

.signup-form-container .login-bottom {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
}

.signup-form-container .login-bottom:hover {
  text-decoration: underline;
}
.login-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(136, 32, 32, 0.1);
}

.login-form-container form {
  margin-bottom: 20px;
}

.login-form-container form label {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-form-container form input[type="text"],
.login-form-container form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form-container form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form-container form button:hover {
  background-color: #0056b3;
}

.login-form-container p {
  margin-bottom: 10px;
}

.login-form-container .signup-bottom {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
}

.login-form-container .signup-bottom:hover {
  text-decoration: underline;
}
