.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    color: #333;
  }
  
  .admin-details {
    margin-bottom: 20px;
  }
  
  .admin-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .admin-details p {
    margin: 5px 0;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  