/* Style for the placement dashboard container */
.placement-dashboard {
  position: relative;
}

/* Style for the header */
.placement-dashboard .placement-name {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Styling for the top-right buttons */
.placement-dashboard .top-right-buttons {
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
}

/* Styling for navigation buttons */
.placement-dashboard .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.placement-dashboard .button {
  background-color: #333;
  color: #fff;
  border: none;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Add this to remove the underline */
}

/* Hover state for navigation buttons */
.placement-dashboard .button:hover {
  background-color: #555;
}
